.primary_menu{
    display:flex;
    z-index: 100;
}
.menu_logo{
    flex-basis: 15%;
}
.menu_logo > .primary_menu_logo{
    height: 6rem;
    width: 6rem;
    margin-left: 3rem;
}
.menu_icons{
    flex-basis: 20%;
    gap: 1.3rem;
}
.menu_icons > .primary_menu_icon{
    cursor: pointer;
}