@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto+Slab&display=swap');

body{
  background-color: #F7F7F7;
}
.common_flex{
  display: flex;
  align-items: center;
  justify-content: center
}
.flex_and_align{
  display: flex;
  align-items: center
}
.linear_back{
  background-image: linear-gradient(
        to right bottom,
        #a8eb12,
        #8fe331,
        #77db44,
        #60d152,
        #4ac85d
    );
}
.yello_linear_back{
  background-image: linear-gradient(
    to right bottom,
    #FFCA04,
    #f8ca24,
    #f0cd52,
    #e0c561,
    #ddca87
  )
}