@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto+Slab&display=swap");

body {
  background-color: #f7f7f7;
}
.common_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex_and_align {
  display: flex;
  align-items: center;
}
.linear_back {
  background-image: linear-gradient(
    to right bottom,
    #f3dc73, 
    #f7da59,
    #f8d63e,
    #f8d01f,
    #f7ca02
  );
  /* background-color: #FFCA04; */
}
.blue_linear_back {
  background-image: linear-gradient(
    to right bottom,
    #0e9fd8,
    #097ba8,
    #076286,
    #074963,
    #042F40
  );
}

.yello_linear_back {
  background-image: linear-gradient(
    to right bottom,
    #f7b564,
    #f5ac52,
    #eea142,
    #f19524,
    #FA8901
  );
}